*{
    margin: 0;
    padding: 0;
    font-family: 'Merienda', cursive;
}

.intro{

    text-align: center;
    padding: 20px;
    margin: auto;
    width: 60%;
    border-radius: 30px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    transition: 0.5s;

    
}
.intro h1,.intro h2{
    padding: 25px;
}
.main{
    background: linear-gradient(#cc2b5e,#753a88);
    height: 100vh;
    display: flex;
    align-items: center;


}
.intro button,.againb{
    width: 150px;
    height: 45px;
    border: 1px solid #333;
    border-radius:15px;
    margin: 15px;
    font-size: 18px;
    padding: 5px;

}
.againb{
    text-align: center;
    background: limegreen;
    display: none;
}
.game{
    width:  80%;
    margin: auto;
    height: 80%;
    display: none;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
}
.block{
     
    display: grid;
    height: 90%;
    width: 90%;
    margin: 15px auto;
    grid-template-columns: repeat(3,1fr);
}
.bb{
    border:1px solid #fff;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}
.bb:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}
.b0,.b1,.b2{
    border-top: none;
}

.b0,.b3,.b6{
    border-left: none;
}
.b2,.b5,.b8{
    border-right: none;
}
.b6,.b7,.b8{
    border-bottom: none;
}

@media(max-width:500px){
    .game{
        width: 90%;
    }
    .bb{
        font-size: 10vw;
    }
}